.hero  {
  background-image: url('../assets/Images/Background_Intro.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-intro {
  margin-top: 56px;
  font: var(--subtitle);
  color: var(--brand-color-gray200);
}

.hero-intro span  {
  color: var(--brand-color-red);
}


.hero-title {
  font: var(--title-lg);
  color: var(--brand-color-gray100);
  margin-top: 8px;
}

.hero-description {
  margin-top: 20px;
  margin-bottom: 80px;
  font: var(--text-sm);
  max-width: 680px;
  color: var(--brand-color-gray300);
}

.hero-skills {
  margin-bottom: 94px;
}

.hero-avatar {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 55% 45%;
  outline: 2px solid var(--brand-color-red);
  padding: 2px;
}

.hero-avatar img:first-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.hero-avatar-icon {
  position: absolute;
  bottom: -8px;
  right: -4px;
  width: 32px;
  height: 32px;
} 

.hero-skills {
  display: flex;
  gap: 16px;        
  list-style: none;
  padding: 0;
}

.hero-skills li {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;
  border-radius: 999px;
  border: 1px solid var(--brand-color-gray400);
  font: var(--text-md);
  color: var(--brand-color-gray200);
}

.hero-skills li img {
  width: 24px;
  height: 24px;
}

.hero-scroll {
  position: absolute;
  bottom: 32px; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.second  {
  background-color: var(--brand-color-gray500);
  min-height: 100vh;
  padding: 120px 24px;
  text-align: center;
}

.second-intro {
  font: var(--subtitle);
  color: var(--brand-color-red);
  padding-bottom: 8px;
}

.second-title {
  font: var(--title-md);
  color: var(--brand-color-gray100);
  padding-bottom: 56px;
}

.project-card {
  background-color: var(--brand-color-gray400);
  border-radius: 12px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

.project-card img {
  width: 100%;
  height: 156px;
  object-fit: cover;
  display: block;
}

.projects-grid {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; 
}

.project-content {
  padding: 16px;
}

.project-content h3 {
  font: var(--title-sm);
  color: var(--brand-color-gray100);
  margin-bottom: 8px;
  text-align: left;
}

.project-content p {
  font: var(--text-sm);
  color: var(--brand-color-gray200);
  text-align: left;
}
